.cek-transaksi input{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 300px;
    height: 50px;
    text-align: center;
}

.cek-transaksi input:focus{
    outline: none;
    color: #00BFFF;
    font-size: 1.1em;
    border-bottom-color: #00BFFF;
    transition: 0.5s;
}

.cek button {
    background-color: #1E90FF;
    width: 100px;
}

.cek button:hover {
    background-color: #4169E1;
    transition: 0.5s;
}